* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.introduction {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.introduction .scroll-down {
  position: absolute;
  bottom: 4rem;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid white;
  letter-spacing: 0.1em;
  transition-duration: 0.4s;
}

.introduction .scroll-down:hover {
  color: hsla(24, 100%, 47%, 1);
  border-color: hsla(24, 100%, 47%, 1);
}

.introduction .personal-info {
  width: 60%;
  text-align: center;
}

.introduction .personal-info h1 {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
}

.introduction .personal-info h3 {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'IBM Plex Serif', serif;
}

.introduction .personal-info em {
  color: rgba(255, 255, 255);
}

.about-me {
  background-color: #1e1e1e;
  height: 100vh;
  padding-top: 8rem;
  color: white;
}

.row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.row .column-3 {
  flex: 3;
}

.row .column-9 {
  flex: 9;
}

.about-me .avatar {
  width: 12rem;
  height: 12rem;
  border: 1.3rem solid rgba(255, 255, 255, 0.02);
  border-radius: 50%;
}

.about-me .avatar-container {
  text-align: center;
}

.about-me h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about-me p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 2rem;
  font-size: 1.2rem;
}

.about-me hr {
  height: 0;
  border: 0.01rem  solid rgba(255, 255, 255, 0.2);
  margin: 4rem 0;
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.contact-container .contact-details, .contact-container .cv-container {
  flex: 1;
}

.contact-container .download-cv {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  transition-duration: 0.4s;
}

.contact-container .download-cv:hover {
  background-color: hsla(24, 100%, 47%, 1);
  cursor: pointer;
  color: white;
  fill: white;
}

.contact-container .download-cv svg {
  margin-right: 1rem;
}

